@model fastBarberTG.Models.HorariosMarcadosModel

@{
    ViewBag.Title = "_listaCorteCliente";
    Layout = null;
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/MarcaCorte/_listaCorteCliente.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/iziToast.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/iziToast.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/iziToast.min.js" type="text/javascript"></script>
    <script src="~/scripts/iziToast.js" type="text/javascript"></script>
    <link href="~/Content/libcss.css" rel="stylesheet" type="text/css" />
}


@if (Model != null)
{
    <div class="card">
        <div>
            <input type="hidden" id="id-horariomarc" value="@Model.HorarioId"/> 
            <p>Encontramos um horário marcado, no dia <span>@Model.DataCorteFormatado()</span> às <span>@Model.HoraCorte()</span></p>
        </div>
        <h1>Deseja cancelar o horário do corte?</h1>
        <div class="flex-buttons">
            <input type="button" class="blue" id="input-recusar" value="NÃO" onclick="Corte.Nofunction()" />
            <input type="button" class="red" id="input-aceitar" value="SIM" onclick="Corte.DesmarcarCorte()" />
        </div>
    </div>
}
else
{
    <div>
        <div class="text-label">
            <p>Não encontramos nenhum horário marcado</p>
        </div>
        <div class="text-label">
            <p>Deseja agendar um horário?</p>
        </div>

        <div class="fastbarber-calendar uk-none uk-flex uk-flex-column uk-flex-middle" >
            <input type="hidden" id="addhora-corte" />
            <div class="flex-btn-days" id="grid-calendario">
            </div>
            <div id="grid-horas" style="display: none;" class="grid-horas">
                <div class="hora-marcada">
                </div>
            </div>
        </div>
        <div id="buscar-horarios" class="marcar-button-div uk-flex uk-flex-center">
            <button class="marcar-button" type="button" onclick="Corte.buscarCalendario()">HORÁRIOS</button>
        </div>
        <div id="marcar-horarios" class="marcar-button-div uk-none uk-flex uk-flex-center">
            <button class="marcar-button" type="button" onclick="Corte.MarcarHorario()">MARCAR HORÁRIO</button>
        </div>
    </div>
    
}
<script src="~/scripts/scriptPages/_listaCorteCliente.js"></script>
<script>
    Corte.init({
        urls: {
            desmarcarCorte: '@Url.Action("DesmarcarCorte")',
            BuscaOcupado: '@Url.Action("HorariosDisponiveis")',
            MarcarHorario: '@Url.Action("MarcarHorario")',
            buscarCalendario: '@Url.Action("GridCalendario")'
        }
    })
</script>